* {
    --cyan: #2ab2af;
    --light-cyan: #e5eff5;
    --bright-yellow: #c0df34;
    --grayish-blue: #98a6bd;

    --ff-main: 'Karla', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
}



/* ================== App wrapper & container. ================== */
.App-wrapper {
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    background-color: var(--light-cyan);
}

.App-container {
    font-family: var(--ff-main);
    font-size: 16px;
    width: 90%;
    max-width: 350px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



/* ================== Join container. ================== */
.join-container {
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2rem 1.8rem 2.5rem;
}

.join-container h1 {
    color: var(--cyan);
    font-size: 21px;
    font-weight: var(--fw-bold);
    letter-spacing: 0.5px;
}

.join-container h2 {
    color: var(--bright-yellow);
    font-weight: var(--fw-bold);
    letter-spacing: 0.5px;
    margin: 1.5rem 0;
    line-height: 1.2;
}

.join-container p {
    color: var(--grayish-blue);
    font-size: 14px;
    line-height: 1.9;
}



/* ================== Subscription container. ================== */
.subscription {
    background-color: #2bb3b1;
    color: #ffffff;
    padding: 1.6rem 1.8rem;
}

.subscription h3 {
    font-size: 17.5px;
    font-weight: var(--fw-bold);
    letter-spacing: 1.2px;
}

.subscription h1 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: var(--fw-bold);
    margin: 1.4rem 0 0.8rem;
}

.subscription h1 span{
    color: #cee0e1;
    font-size: 13.5px;
    font-weight: var(--fw-regular);
    margin-left: 0.5rem;
    letter-spacing: 1px;
}

.subscription p {
    font-size: 15px;
    letter-spacing: 1px;
}

.subscription button {
    margin-top: 2rem;
    background-color: var(--bright-yellow);
    color: #ffffff;
    padding: 1rem 0;
    width: 100%;
    border-radius: 5px;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.subscription button:hover {
    background-color: #d4f057;
    color: #a9a9a9;
}



/* ================== About container. ================== */
.about {
    background-color: #4abebd;
    color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 1.8rem;
}

.about h4{
    font-size: 18px;
    font-weight: var(--fw-bold);
    letter-spacing: 1px;
}

.about p{
    margin-top: 1.5rem;
    color: #cee0e1;
    font-size: 13px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.about p span{
    display: block;
}





 /* ================== Media Q. ================== */
@media (min-width: 768px) {
    /* ================== App wrapper & container. ================== */
    .App-wrapper {
        padding: 0;
        align-items: center;
        height: 100vh;
    }

    .App-container {
        max-width: 800px;
    }



    /* ================== Join container. ================== */
    .join-container {
        padding: 3rem;
    }

    .join-container h1 {
        font-size: 24px;
    }

    .join-container h2 {
        font-size: 18px;
    }

    .join-container p {
        font-size: 16px;
        font-weight: var(--fw-bold);
        letter-spacing: 1px;
    }




    /* ================== Grid container. ================== */
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }



    /* ================== Subscription container. ================== */
    .subscription {
        border-bottom-left-radius: 5px;
        padding: 2rem 3rem;
    }

    .subscription h3 {
        font-size: 18px;
    }

    .subscription h1 {
        font-size: 31px;
    }

    .subscription h1 span{
        font-size: 14px;
    }

    .subscription p {
        font-size: 16px;
    }



    /* ================== About container. ================== */
    .about {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 5px;
        padding: 2rem 3rem;
    }

    .about p{
        font-size: 14px;
    }
}